html, body, div, span, h1, h2, h4, p, a, font, img, s, small, strong, sub, sup, li, fieldset, form, label, legend, table, tbody, thead, tr, th, td, center, b, i{margin:0;padding:0;border:0;outline:0;font-style:normal;font-size:100%;font-family:inherit;vertical-align:baseline;}
body{line-height:1;background:#fff  url(../images/comun/background.png) 0 0 repeat-x;color:#000;font:90% Arial,Helvetica,sans-serif;height:100%;}

:focus{outline:0;}
ol, ul{margin:0;padding:0;list-style:none;}
li{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
blockquote:before, blockquote:after, q:before, q:after{content:"";}
blockquote, q{quotes:"""";}
input, textarea{margin:0;padding:0;}
hr{margin:0;padding:0;border:0;color:#000;background-color:#000;height:1px;}
html, body{background-color:#fff;color:#000;font:90% Arial, Helvetica, sans-serif;text-align:center;}
a{color:#000e78;}
a:hover{color:#8086bc;}
img{vertical-align:middle;}
hr{margin:1em 0;border:1px solid #fff;border-bottom:1px solid #e5e6f3;}
small{font-size:0.8em;}
big{font-size:1.2em;}
#cb{position:relative;float:left;width:908px;margin:0px auto;text-align:left !important;}
.h{border:none;margin-left:-1px;width:908px;height:88px;}
.cl{clear:both;float:none;}
.hd{display:none;}
#cnt{width:902px !important;_width:920px;float:none;clear:both;}
#cnt-p{width:635px;float:right;}
#cnt-p .txt{margin-bottom:2em;}
.txt p{text-align:justify;margin:1em 0;}
#cnt-p{position:relative;margin-bottom:-23px;text-align:left;}
#cnt-p #rcmnd{position:relative;margin-bottom:-23px;text-align:right;}
.t1{padding:1em 0;font-size:1.3em;font-weight:bold;color:#000e78;}
.pp .cnt{padding:5px 10px 5px 40px;}
.pp .bt-pp{}
.cntr{margin-bottom:1em;}
.cntr .cnt{padding:0 10px 0 10px;}
.dst{background:#e5e6f3 bottom center repeat-x;}
.dst .t{margin:0.5em 0;font-size:1.1em;}
.dst2{background:#BCBFC5 bottom center repeat-x;}
.rndRc{height:22px;width:100%;}
.rndUp, .rndDwn{height:10px;width:100%;}
.rndRc div{height:22px;width:173px;float:right;overflow:hidden;}
.rndUp div, .rndDwn div{height:10px;width:10px;float:right;overflow:hidden;}
.rndUp2, .rndDwn2{height:10px;width:100%;}
.rndUp2 div, .rndDwn2 div{height:10px;width:10px;float:right;overflow:hidden;}
.mdl-bk{width:47%;margin:1% 2% 1% 0;float:left;}
.mdl-bk .t{font-size:0.9em;line-height:1em;}
.mdl-bk a{text-decoration:none;}
.mdl-bk li{display:block;font-size:0.85em;}
.mdl-bk .pr{color:#666;}
.mdl-bk strong{font-size:1.4em;color:#c8041e;}
.mdl-bk2{width:47%;margin:1% 2% 1% 0;float:right;}
.mdl-bk2 .t{font-size:0.9em;line-height:1em;}
.mdl-bk2 a{text-decoration:none;}
.mdl-bk2 li{display:block;font-size:0.85em;}
.mdl-bk2 .pr{color:#666;}
.mdl-bk2 strong{font-size:1.4em;color:#c8041e;}
.mdl-bk3{width:43%;margin-left:5%;float:left;}
.mdl-bk3 .t{font-size:0.9em;line-height:1em;}
.mdl-bk3 a{text-decoration:none;}
.mdl-bk3 li{display:block;font-size:0.85em;}
.mdl-bk3 .pr{color:#666;}
.mdl-bk3 strong{font-size:1.4em;color:#c8041e;}
.mdl-bk4{width:43%;margin-left:5%;float:left;}
.mdl-bk4 .t{font-size:0.9em;line-height:1em;}
.mdl-bk4 a{text-decoration:none;}
.mdl-bk4 li{display:block;font-size:0.85em;}
.mdl-bk4 .pr{color:#666;}
.mdl-bk4 strong{font-size:1.4em;color:#c8041e;}
.mdl-bk-100{width:95%;text-align:justify;margin:1% 1% 1% 1%;float:left;}
.mdl-bk-100 .t{font-size:0.9em;line-height:1em;}
.mdl-bk-100 a{text-decoration:none;}
.mdl-bk-100 li{display:block;font-size:0.85em;}
.mdl-bk-100 .pr{color:#666;}
.mdl-bk-100 strong{font-size:1.4em;color:#c8041e;}
.cntr-mdl-bk{float:left;width:100%;}
.cntr-mdl-bk2{float:left;width:100%;height:110px;}
.cvr{position:relative;left:0;}
.cvr a{border:1px solid #ccc;padding-top:2px;padding-bottom:2px;padding-right:2px;padding-left:2px;float:left;background-color:#fff;}
.cvr img{display:inline;}
.t{color:#5d66a9;font-size:0.9em;}
.dtl{margin-left:65px;}
#nv{width:246px;float:left;}
.srch{width:246px;height:108px;background:url(../images/comun/spAgapea9z.png);background-position:-663px 0px;margin-top:0px;border:none;vertical-align:middle;text-align:center;}
.srch .t{color:#5d66a9;font-size:0.9em;}
.srch strong{font-size:1.4em;}
.srch #txt-srch{width:70%;margin:0;padding:0.1em;font-size:1em;}
#mn{margin-right:1em;}
#mn-ctgr span{margin-left:3px;margin-top:3px;position:relative;float:left;font-family:'Arial Black',Gadget,sans-serif;font-weight:bold;font-size:14px;}
#mn-ctgr li{width:233px;}
#mn-ctgr a{display:block;padding:0.3em 0 0.3em 20px;border-bottom:1px solid #e5e6f3;font-size:1.1em;text-decoration:none;color:#000;}
#mn-ctgr a:hover{background:#e5e6f3;}
.actv{background:#e5e6f3;}

#pie{margin:5em 0;float:none;clear:both;text-align:center;background:#f4f4fc; padding-top:4px; padding-bottom:0.5px; font-size:10px; color:#9198c9; width:100%; border-top:1px solid #cdcde4;}
.pie {background:#e2e2ef; padding-top:4px; padding-bottom:4px; font-size:10px; color:#8086bc;}
.rndUp{background:url(../images/comun/spAgapea9z.png) -899px -118px no-repeat;}
.rndUp div{background:transparent url(../images/comun/spAgapea9z.png) -889px -118px no-repeat;}
.rndRc{background:transparent url(../images/comun/spAgapea9z.png) -887px -180px no-repeat;}
.rndRc div{background:transparent url(../images/comun/spAgapea9z.png) -500px -141px no-repeat;}
.rndUp2{background:transparent url(../images/comun/spAgapea9z.png) -899px -143px no-repeat;}
.rndUp2 div{background:transparent url(../images/comun/spAgapea9z.png) -889px -143px no-repeat;}
.rndDwn{background:transparent url(../images/comun/spAgapea9z.png) -899px -108px no-repeat;}
.rndDwn div{background:transparent url(../images/comun/spAgapea9z.png) -889px -108px no-repeat;}
.rndDwn2{background:transparent url(../images/comun/spAgapea9z.png) -899px -133px no-repeat;}
.rndDwn2 div{background:transparent url(../images/comun/spAgapea9z.png) -889px -133px no-repeat;}
.ln_pie{background:#8086bc;color:#527894;height:3px;}
#cprght{font-size:1.1em;margin-bottom:0.5em;}
#lnk-pie li{display:inline;padding-right:0.5em;border-right:1px solid #960707;margin-right:0.5em;}
#lnk-pie .last{border-right:0 !important;}
.dtl-bk .dtl{margin-left:125px;}
.dtl-bk .dtl2{margin-left:80px;margin-bottom:40px;}
.dtl-bk .t{font-size:1.3em;color:#000e78;}
.dtl-bk li{display:block;font-size:0.85em;}
.dtl-bk .pr{margin-top:0.5em;border-top:1px solid #b2b6d7;padding-top:0.5em;color:#666;font-size:1.4em;}
.pr2SIN{color:#666;font-size:1.1em;}
.pr2SIN strong{font-size:15px;color:#c8041e;}
.rg-nv a{text-decoration:none;}
.rg-nv strong{display:block;}
.mg .cnt{padding:5px 10px 5px 10px !important;}
.mg a{text-decoration:underline;}
.shp-free{float:right;width:168px;height:61px;padding:0px;margin-top:15px;}
.dtl-col-cvr{position:relative;left:0;}
.dtl-col-cvr img{display:block;padding:12px 14px 1px 4px;float:left;background:transparent url(../images/comun/spAgapea9z.png) -596px 0px no-repeat;}
.dtl-col .dtl{margin-left:75px;}
.dtl-col .t{margin:0.5em 0;font-size:1.1em;color:#1A374E;}
.dtl-col li{display:block;font-size:0.85em;}
.dtl-col .pr, .dtl-col .dtl-col-pr{margin-top:0.5em;border-top:1px solid #D6CFA9;padding-top:0.5em;color:#666;font-size:1.2em;}
.dtl-col-pr strong{font-size:1.1em;color:#832B26;}
.off-sp{margin-left:11%;background:transparent url(../images/comun/spAgapea9z.png);background-position:0px 0px;width:500px;height:250px;}
.t_off{font-family:Arial, Helvetica, sans-serif;color:#041fa0;font-weight:bold;font-size:14px;text-align:center;float:left;margin-top:50px;}
.subt_off{color:#606da7;font-family:Arial, Helvetica, sans-serif;font-size:12px;padding-left:5px;padding-right:5px;}
.bks_off{float:left;margin-left:25px;font-size:25px;color:#031f9d;font-weight:bold;vertical-align:middle;}
.img_off{width:50px;height:75px;border:2px solid #818ece;}
.pr_off{float:right;margin-right:15px;font-family:Arial, Helvetica, sans-serif;color:#041fa0;font-weight:bold;font-size:14px;}
.pr_des_off{font-family:Arial, Helvetica, sans-serif;color:#c8041e;font-weight:bold;font-size:16px;}
.m_off{width:654px;font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;color:#031e9d;background:#FFF;margin-left:auto;margin-right:auto;}
.m_off2{width:654px;font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;color:#031e9d;background:#FFF;}
.txt_m_off{font-size:16px;font-weight:bold;color:#031e9d;}
.mdl-bk_off{width:90%;height:150px;margin:1% 2% 1% 0;background:#FFF;}
.mdl-bk_off .t_off{font-size:0.9em;line-height:1em;}
.mdl-bk_off a{text-decoration:none;}
.cvr{float:left;vertical-align:middle;position:relative;}
.cvr2{float:left;vertical-align:middle;position:absolute;}
.mdl-bk_off2{width:47%;margin:1% 2% 1% 0;float:right;background:#FFF;padding-bottom:5px;margin-right:0px;}
.mdl-bk_off2 .t_off{font-size:0.9em;line-height:1em;}
.mdl-bk_off2 a{text-decoration:none;}
.img_off2{width:63px;height:95px;border:2px solid #818ece;}
.img_off4{width:50px;height:75px;border:2px solid #818ece;margin-top:15px;}
.mas{margin-top:43px;text-align:center;font-weight:bold;width:24px;height:59px;}
.bk3{margin-right:3px;}
.cvr div{float:left;}
.cvr img{float:left;}
.img_off3{width:65px;height:100px;border:2px solid #818ece;}
.dtl_off{margin-left:3px;margin-right:3px;float:left;}
.txt_grey{font-family:Arial, Helvetica, sans-serif;font-weight:normal;color:#5f5f5f;font-size:11px;text-align:left;}
.l{border:1px solid #fff;border-bottom:1px solid #e5e6f3;}
.tb-bk{width:100%;border-collapse:collapse;}
.tb-bk td, .tb-bk th{padding:0.5em;color:#000e78;}
.tb-bk-th-th{border-bottom:1px solid #000e78;text-align:center;font-size:1.1em;font-weight:bold;color:#000e78;vertical-align:bottom;}
.tb-bk tb-th{border-bottom:1px solid #AFA085;background-color:#e5e6f3;vertical-align:middle;}
.tb-bk td{width:14%;text-align:center;vertical-align:middle;border-bottom:1px solid #8086bc;background-color:#e5e6f3;}
.tb-bk input{width:2em;text-align:center;}
.dlt{color:#CC0000;font-size:0.8em;}
.al_r{text-align:right;font-family:Arial, Helvetica, sans-serif;font-weight:bold;color:#000e78;}
.shp{margin:0.5em 0;padding:0.5em;background-color:#e5e6f3;float:left;border:1px solid #8086bc;font-family:Arial, Helvetica, sans-serif;color:#000e78;}
.shp2{margin:0.5em 0;padding:0.5em;float:left;font-family:Arial, Helvetica, sans-serif;color:#000e78;}
.pay{margin:0.5em 0;padding:0.5em;background-color:#e5e6f3;border:1px solid #8086bc;float:right;color:#000e78;}
.tt{padding:0.5em;margin-bottom:1em;float:right;}
.frm input,.frm textarea, .frm select{margin:0.3em;border:1px solid #c8cbe7;padding:0.1em;background-color:#e5e6f3;font-size:1em;font-family:Arial, helvetica, sans-serif;color:#000e78;vertical-align:middle;}
.frm textarea{height:8em;width:98%;}
.frm input:focus, .frm textarea:focus, .frm select:focus, .frm textarea:focus{border:1px solid #c8cbe7;}
.frm fieldset{margin-bottom:1em;border:1px solid #8086bc;padding:1em;color:#4c56a0;width:880px;}
.frm legend{color:#000e78;font-size:1.2em;font-weight:bold;}
.frm p{display:block;margin:0.3em 0;float:left;}
.frm li{clear:both;float:none;}
.frm label{display:block;padding:0.3em;width:12em;float:left;text-align:right;}
.frm .btn{width:10em;margin:2em 0;border:2px solid #00294A;padding:1px;background-color:#06385E;color:#fff;font-weight:bold;}
.frm .nobg{border:0 !important;background:none !important;}
.pr-tt{margin-top:0.5em;padding:0.5em;background-color:#8086bc;font-size:1.3em;font-weight:bold;text-align:center;color:#FFFFFF;border:1px solid #000e78;}
.t3{padding:5px;text-align:center;font-size:1.3em;font-weight:bold;color:#000e78;background:#c8cbe7;border:1px solid #4c56a0;}
#datos-tarjeta{border:1px solid #8086bc !important;background-color:#e5e6f3;}
#datos-tarjeta input, #datos-tarjeta select{background-color:#fff !important;}
#info-tarjeta{position:absolute;right:12%;}
.al_c{text-align:center;}
.al_l{text-align:left;}
#m-sc{margin-top:1em;}
#m-sc li{margin-left:1%;font-size:0.9em;line-height:1.3em;}
#m-sc a{text-decoration:none;}
#m-sc a:hover{text-decoration:underline;}
#m-sc-o{margin-top:1em;}
#m-sc-o li{margin-left:1%;float:left;font-size:0.9em;line-height:1.3em;}
#m-sc-o a{text-decoration:none;}
#m-sc-o a:hover{text-decoration:underline;}
.pgr{margin-top:1em;text-align:center;}
.pgr ul{margin:0;padding:0;}
.pgr li{margin:0 !important;padding:0 !important;display:inline;list-style-type:none;font-weight:bold;}
.pgr .ant{display:block;float:left;border:none;}
.pgr .sig{display:block;float:right;}
.pgr a:hover{color:#000;}
#mn{margin-right:1em;}
.scb{position:relative;width:1020px;margin:0px auto;text-align:left}
.bnn{top:0pt;position:absolute;left:100%;}
#cb2{position:relative;width:908px !important;margin:0px auto;text-align:left !important;}
.sp-bt-buscar{background:url(../images/comun/spAgapea9z.png);background-position:-500px -191px;width:109px;height:28px;margin-left:60px !important;_margin-left:0px;}
.sp-bt-buscar2{background:url(../images/comun/spAgapea9z.png);background-position:-500px -191px;width:109px;height:28px;}
.sp-bt-comprar-col{background:url(../images/comun/spAgapea9z.png);background-position:-500px -163px;width:109px;height:28px;float:right !important;float:none;margin-right:250px !important;}
.sp-bt-comprar{background:url(../images/comun/spAgapea9z.png);background-position:-500px -163px;width:109px;height:28px;}
.sp-bt-reservar{background:url(../images/comun/spAgapea9z.png);background-position:-712px -108px;width:109px;height:28px;}
.sp-bt-finalizar-pedido{background:url(../images/comun/spAgapea9z.png);background-position:-500px -219px;width:136px;height:28px;}
.sp-ico-pedido-pendiente{background:url(../images/comun/spAgapea9z.png);background-position:-596px -88px;width:24px;height:24px;}
.sp-ico-registro-novedades{background:url(../images/comun/spAgapea9z.png);background-position:-640px -88px;width:19px;height:19px;}
.sp-ico_libro{background:url(../images/comun/spAgapea9z.png);background-position:-596px -112px;width:23px;height:23px;}
.sp-iso{background:url(../images/comun/spAgapea9z.png);background-position:-620px -88px;width:20px;height:36px;}
.sp-ant{background:url(../images/comun/spAgapea9z.png);background-position:-609px -190px;width:109px;height:28px;}
.sp-sig{background:url(../images/comun/spAgapea9z.png);background-position:-609px -163px;width:109px;height:28px;}
.rcmnd { background:#ebecf4; border:1px #929ac7 solid; margin-left:50px; margin-right:50px; padding:10px; color:#2e47a9; text-align:left; }
.rcmnd span { font-size:13px; font-weight:bold;}
.rcmnd a { font-size:10px; text-decoration:none; font-weight:bold; vertical-align:middle;}
.rcmnd a img {vertical-align:middle;}
.ln_r { color:#8186bb; background:#8186bb; }
.frm_rcmnd label { width:170px; font-size:11px; }
.frm_rcmnd input { background:#FFF;}
.izqda img { margin-left:3px; margin-top:2px; margin-bottom:2px;}
.img_email {margin-right:5px;}
.b-regalo{font-size:1.1em;font-weight:bold;color:#000e78; text-align:center; }
.b-regalo img{ padding-top:10px; margin-bottom:10px;}
.paypal{ text-align:right; margin-right:0px!important; margin-right:20px;}
.line { height:20px;}
/*nuevas bolas navidad2013*/
.bolasnav_home{z-index:95;position:absolute;margin-left:910px; margin-top:-225px!important; margin-top:-222px; background:url(/images/comun/bolas_HOME.png)}
.bolasnav_home:hover{z-index:99;position:absolute;margin-left:910px; margin-top:-225px!important; margin-top:-222px; background:url(/images/comun/bolas_HOME2.png)}
.librerias { width:100%; margin-top:50px; background:#f4f4fc; border-top:1px #e2e2f0  solid; border-bottom:1px #e2e2f0  solid; padding-top:15px; color:#7178ad; font-size:11px; text-align:center;}
.tiendas_body { position:relative;width:908px; margin:0px auto;text-align:left}
.tiendas_body h6 { font-size:14px; margin:0px 0px 14px 0px;}
.bld { font-weight:bold;}
.gty {float:right; border-left:1px #e2e2f0 solid; padding-left:33px; padding-right:105px;}
.gtd {float:left; border-left:1px #e2e2f0 solid; padding-left:33px; padding-right:110px;}